<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/index.css">
    <title>QR-Gen</title>
</head>
<body>
    <div id="header">
        Simple Qr Code Generator
    </div>
    <form  method="post">
        <p>Insert the Value to be converted</p>
        <p id="form-p">
            Value:
            <input type="text" name="value_input" value="{{ preview_value }}" id="input">
            <br>
            Design:
            <select id="design" name="design_input">
                <option value="default" {% if preview_design == 'default' %} selected {% endif %}>Default</option>
                <option value="gapped" {% if preview_design == 'gapped' %} selected {% endif %}>Gapped</option>
                <option value="circle" {% if preview_design == 'circle' %} selected {% endif %}>Circled</option>
                <option value="rounded" {% if preview_design == 'rounded' %} selected {% endif %}>Rounded</option>
                <option value="vertical" {% if preview_design == 'vertical' %} selected {% endif %}>Vertical</option>
                <option value="horizontal" {% if preview_design == 'horizontal' %} selected {% endif %}>Horizontal</option>
            </select>
            <br>
            Resolution:
            <select id="resolution" name="resolution_input">
                <option value="default" {% if preview_resolution == 'default' %} selected {% endif %}>Default</option>
                <option value="very low" {% if preview_resolution == 'very low' %} selected {% endif %}>very low</option>
                <option value="low" {% if preview_resolution == 'low' %} selected {% endif %}>low</option>
                <option value="high" {% if preview_resolution == 'high' %} selected {% endif %}>high</option>
                <option value="very high" {% if preview_resolution == 'very high' %} selected {% endif %}>very high</option>
            </select>
            <br>
            Size (Value from 1-40):
            <input type="text" name="size_input" value="{{ preview_size }}" id="size">
            <br>
            <input type="Submit" onclick="javascript: form.action='/preview';" value="Preview" id="preview">
            <input type="Submit" onclick="javascript: form.action='/download';" value="Download" id="download">
        </p>
        <img src="data:image/png;base64,{{ user_image }}" alt="" id="code">
    </form>

</body>
</html>